.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: 1px solid grey;
}

.delete-img {
  height: 25px;
  width: 25px;
}

.history-item > button {
  background-color: transparent;
  border: none;
  outline: none;
}

.history-item > button:hover {
  cursor: pointer;
}
